.globalStyle {
    background: white;
    justify-content: center;

}

.logoImage{
    height: 100px;
    width: auto;
    padding: 10px;
}

.navbar {
  height: auto;
  width: auto;
  color: black;
  text-align: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.navList {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navTextLink {
    color: #ff69b4;
    padding: 10px;
    text-decoration-color: #95d398;
}

.imageHolder {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}


.footer {
  background-color: inherit;
  position: relative;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontPageImage {
    height: 500px;
    width:  auto;
}

.frontPageText {
  font-size: 30px;
  font-family: sans-serif;
  display: flex;
  color: #95d398;
  text-decoration: none;
  justify-content: center;
}
.textLink {
    color: #95d398;
    text-decoration: none;
}
.contactImage {
    height: 50px;
    width: auto;
    margin: 5px;
}

.galleryButtonHolder {
    justify-content: center;
    width: auto;
    text-align: center;
}
.aboutTextHolder {
    margin: 50px;
}
.aboutText {
    width: inherit;
    color: #95d398;
    margin: 50px;
}

.Button {
    background: linear-gradient(45deg, #95d398 30%, #ff69b4 90%);
}
