.globalStyle {
    background: white;
    justify-content: center;

}

.logoImage{
    height: 100px;
    width: auto;
    padding: 10px;
}

@media screen and (min-width: 600px) {
    .navbar {
      background-color: inherit;
      height: auto;
      width: 100%;
      color: black;
      text-align: center;
      display: flex;
      font-size: 30px;
    }

    .navList {
        list-style: none;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .footer {
      background-color: inherit;
      position: relative;
      left:0;
      bottom:0;
      right:0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .bottomNav {
        display: none;
    }
    .aboutText {
        width: inherit;
        color: #95d398;
    }
    .frontPageImage {
        height: 500px;
        width:  auto;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
      background-color: inherit;
      height: auto;
      width: 100%;
      color: black;
      text-align: center;
      display: block;
      font-size: 30px;
    }

    .navList {
        list-style: none;
        display: none;
        font-size: 20px;
    }
    .footer {
      background-color: inherit;
      position: relative;
      left:0;
      bottom:0;
      right:0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }
    .bottomNav {
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    .aboutText {
        width: inherit;
        color: #95d398;
        font-size: 20px;
    }
    .frontPageImage {
        height: 400px;
        width:  auto;
    }

}

.navTextLink {
    color: #ff69b4;
    padding: 10px;
    text-decoration-color: #95d398;
}

.imageHolder {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.dessertList li {
    list-style: none;
    color: #95d398;
    font-size: 25px;
    font-family: sans-serif;

}

.dessertHeader {
    color: #ff69b4;
    font-family: sans-serif;

}

.dessertTitle {
    color: #f79c71;
    font-family: sans-serif;

}

.formHolder {
    display: grid;
}



.frontPageText {
  font-size: 30px;
  font-family: sans-serif;
  display: flex;
  color: #95d398;
  text-decoration: none;
  justify-content: center;
}
.textLink {
    color: #95d398;
    text-decoration: none;
}
.contactImage {
    height: 50px;
    width: auto;
    margin: 5px;
}

.galleryButtonHolder {
    justify-content: center;
    width: auto;
    text-align: center;
}
.aboutTextHolder {
    margin: 50px;
}
.aboutText {
    width: inherit;
    color: #95d398;
    font-family: sans-serif;

}

.Button {
    background: linear-gradient(45deg, #95d398 30%, #ff69b4 90%);
}
